<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">  
    <file>/data/tbschedule/logs/jjgc_tbschedule.log</file> 
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>/data/tbschedule/logs/jjgc_tbschedule.%d{yyyy-MM-dd}.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
		   class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		   <!-- or whenever the file size reaches 100MB -->
		   <maxFileSize>100mb</maxFileSize>
	  </timeBasedFileNamingAndTriggeringPolicy>   
      <maxHistory>300</maxHistory>    
    </rollingPolicy>   
    <encoder>   
      <pattern>%date %-5level [%-20thread] %logger{20} [%L] - %msg%n</pattern>   
    </encoder>   
  </appender>
 <logger name="org" level="ERROR" />  
 <root level="DEBUG">
    <appender-ref ref="A1"/>
    <appender-ref ref="R"/>
  </root>
</configuration>