<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="jobTaskStrategy" class="com.taobao.pamirs.businessdemo.base.JobTaskStrategy">
		<property name="scheduleManagerFactory" ref="scheduleManagerFactory"></property>
	</bean>
	
	<!-- 商家申请任务 -->
	<bean id="protocolMailTask" class="com.taobao.pamirs.businessdemo.controller.ProtocolMailTask">
	</bean>
	<bean id="protocolMailInit" class="com.taobao.pamirs.businessdemo.controller.ProtocolMailInit" parent="jobTaskStrategy">
		<property name="baseTaskType" value="${baseTaskType.protocolMail}"></property>
		<property name="dealBeanName" value="${dealBeanName.protocolMail}"></property>
		<property name="fetchDataNumber" value="${fetchDataNumber.protocolMail}"></property>
		<property name="permitRunStartTime" value="${permitRunStartTime.protocolMail}"></property>
	</bean>
	
</beans>